.page-footer{
    background-color: black;
}
.fab{
    color: azure;
}
.footer-copyright{
    color: azure;
}
.container{
    color: azure;
}
.footercopycontent{
    color: azure;
}
.othercontent{
    color: azure;
}
.othercontentheading{
    color: azure;
    font-size: 30px;
    font-weight: 100;
}