<br><br><br><br>
<footer class="page-footer font-small special-color-light pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->
    <br><br>

    <!-- Other Informations -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <span class="othercontentheading">Policies</span><br>
            <a href="#" class="othercontent">Privacy Policy</a><br>
            <a href="#" class="othercontent">Cookie Policy</a><br>
            <a href="#" class="othercontent">Terms of Use</a><br>
          </div>
          <div class="col-sm">
              <span class="othercontentheading">News</span><br>
              <a href="#" class="othercontent">Latest Financial Results</a><br>
              <a href="#" class="othercontent">Annual Reports</a><br>
              <a href="#" class="othercontent">Press Releases</a><br>
          </div>
          <div class="col-sm">
              <span class="othercontentheading">Other Sites</span><br>
              <a href="#" class="othercontent">BarclayCard</a><br>
              <a href="#" class="othercontent">Corporate Banking</a><br>
              <a href="#" class="othercontent">Private Bank</a><br>
              <a href="#" class="othercontent">Wealth</a><br>
          </div>
        </div>
      </div>






    <!-- Other Information -->

<br><br>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://home.barclays/" class="footercopycontent">Barclays</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->