

<br>
<h1 class="per">LOANS</h1> <br><br>
<div class="container">
  <div class="row">
      <div class="col-sm">
        
          
    <h1>Select Loan Type</h1>
    <br><br>  
    <!-- <h3>Know EMIs according to your Plan</h3> -->
    <form class="container">
      
      <!-- <div class="form-group">
        <label for="pwd">Password<span class="ast"> *</span></label>
        <input type="password" class="form-control" formControlName="pswd" placeholder="Enter password" name="pswd" #pass>
        <p class="s1">Make sure it's more than 15 characters OR at least 8<br> characters including a number and a lowercase letter. </p>
      </div> -->
      
      
     
      <!-- <button type="button" class="btn btn-primary" (click)="getEMI(amt.value, time.value, acc.value)">Submit</button><br><br> -->
      <!-- <input type="submit" value="Submit" [disabled]="!form.valid"> -->
      <!-- <h2 class="emi">EMI : {{val1}}</h2> -->
      <h3 class="per1"><a class="conLinks" routerLink="/personalloan">PERSONAL LOAN</a></h3>
      <h3 class="per1"><a class="conLinks" routerLink="/homeloan">HOME LOAN</a></h3>
      <h3 class="per1"><a class="conLinks" routerLink="/carloan">CAR LOAN</a></h3>
    
      <br>
      
    </form>
    </div>
    <div class="col-sm barlogo"><br><br><br><a routerLink=""><img class="bar" src="{{backimg}}"></a></div>
  </div>
  </div>
<br>
  


<br><br>


  <br><br>
 