

<br>
<h1 class="per">WHO WE ARE</h1> <br><br><br>
<div class="container">
  <div class="row">
      <div class="col-sm">
        
          
    
    <form class="container">
        

      <!-- <div class="form-group">
        <label for="pwd">Password<span class="ast"> *</span></label>
        <input type="password" class="form-control" formControlName="pswd" placeholder="Enter password" name="pswd" #pass>
        <p class="s1">Make sure it's more than 15 characters OR at least 8<br> characters including a number and a lowercase letter. </p>
      </div> -->
      
      
     
     
      <!-- <input type="submit" value="Submit" [disabled]="!form.valid"> --><br><br><br>
      <h3 class="per1">Barclays moves, invests, lends and protects money for customers and clients worldwide </h3>
      
      <br>
      
    </form>
    </div>
    <div class="col-sm barlogo"><br><br><img class="bar" src="{{backimg}}">
  </div>
  </div>
  <br><br><br><br>
  <div class="container con2">
    <h2 class="per2">Our purpose and strategy</h2><br><br>
    <h3 class="per3">Our common Purpose is ‘Creating opportunities to rise’. We are a company of opportunity makers working together to help people rise – customers, clients, colleagues and society.</h3>
    <br>
    <h3 class="per4">"By creating opportunities for people to rise, we recognise that Barclays rises too"</h3>
    <br>
    <h3 class="per3">We’ll measure and reward our people, not just on commercial results, but on how they live our Values and bring them to life every day.</h3>
  </div>
  
<br><br><br><br>
