

<br>
<h1 class="per">WHO WE ARE</h1> <br><br>
<div class="container">
  <div class="row">
      <div class="col-sm">
        
          
    
    <form class="container">
        <img class="imgabout" src="{{backimg}}">

      <!-- <div class="form-group">
        <label for="pwd">Password<span class="ast"> *</span></label>
        <input type="password" class="form-control" formControlName="pswd" placeholder="Enter password" name="pswd" #pass>
        <p class="s1">Make sure it's more than 15 characters OR at least 8<br> characters including a number and a lowercase letter. </p>
      </div> -->
      
      
     
     
      <!-- <input type="submit" value="Submit" [disabled]="!form.valid"> -->
      
      <br>
      
    </form>
    </div>
    <div class="col-sm barlogo"><br><br><br><br><br><br><br><br>
  </div>
  </div>
<br>
  





  <br><br>
